@font-face {
  font-family: "iconfont"; /* Project id 4566040 */
  src: url('iconfont.woff2?t=1716965966669') format('woff2'),
       url('iconfont.woff?t=1716965966669') format('woff'),
       url('iconfont.ttf?t=1716965966669') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aislogo:before {
  content: "\e648";
}

.icon-send:before {
  content: "\e62f";
}

