.msg-item {
  max-width: 45%;
  @apply flex items-start gap-4 mb-5 text-sm font-light;
}

.msg-item>.avatar {
  @apply text-lg leading-none rounded-full p-2 bg-theme-200;
}

.msg-item>.text {
  @apply relative p-2 rounded-md leading-none;
}

.msg-item>.text::after {
  @apply absolute top-2 w-0 border-8 border-solid border-transparent;
}

.user {
  @apply self-end flex-row-reverse;
}

.user>.text {
  @apply bg-theme-800 text-white;
}

.user>.text::after {
  @apply right-0 translate-x-full border-l-theme-800;
}

.model {
  @apply self-start;
}

.model>.text {
  @apply bg-theme-100;
}

.model>.text::after {
  transform: translateX(-100%);
  @apply left-0 border-r-theme-100;
}

.markdown-body img {
  display: inline-block;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.prompt-img {
  @apply flex flex-col gap-2;
}

.prompt-img img {
  @apply min-w-72 max-w-full;
}
